table#schaakbord td {
    width: 30px;
    height: 30px;
}

#schaakbord td.zwart {
    background-color: black;
}

#schaakbord td.wit {
    background-color: white;
}

table#schaakbord {
    border: 1px solid black;
    border-collapse: collapse;
}